[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.7"

[dev-packages]
autopep8 = "*"

[packages]
aiohttp = "*"
arrow = "*"
async_timeout = "*"
"bs4" = "*"
cchardet = "*"
gunicorn = "*"
"html5lib" = "*"
Jinja2 = "==2.10.1"
motor = "==2.1.0"
numpy = "*"
requests = ">=2.20.0"
Sanic = "==20.12.7"
sanic_session = "==0.1.2"
schedule = "*"
uvloop = "*"
pytest = "*"
pymongo = "*"
aiofiles = "*"
pyquery = "*"
ruia-ua = "*"
ruia = ">=0.5.8"
aiocache = "==0.11.1"
aioredis = "==1.3.1"
asyncio_redis = "==0.15.1"
